/* ===>>> Fonts Link Starts Here <<<=== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;550;700&display=swap');

/* ===>>> Default CSS Styles Reset <<<=== */

html {
   scroll-behavior: smooth;
   font-size: 62.5%;
}

body {
   background-color: white;
}

::selection {
   color: white;
   background-color: #3a7bd5;
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   outline: 0;
   border: 0;
   box-sizing: border-box;
   font-size: 1.6rem;
   font-family: 'Inter', 'Roboto', sans-serif;
   font-weight: 400;
   position: relative;
   background-color: transparent;
   margin-block-start: 0;
   margin-block-end: 0;
   margin-inline-start: 0;
   margin-inline-end: 0;
}

a,
p,
small {
   text-decoration: none;
   line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 700;
   line-height: 1.25;
   text-transform: capitalize;
}

h1 {
   font-size: 6rem;
}

h2 {
   font-size: 5rem;
}

h3 {
   font-size: 4rem;
}

h4 {
   font-size: 3rem;
}

h5 {
   font-size: 2.5rem;
}

h6 {
   font-size: 2rem;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
button {
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-transform: capitalize;
   font-weight: 550;
   font-size: 1.5rem;
   background: #00d2ff;
   background: linear-gradient(#00d2ff, #3a7bd5);
   padding: 1.4rem 2.8rem;
   border-radius: 0.8rem;
   color: white;
}

input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active,
button:active {
   transform: scale(0.975);
}

input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
button:hover {
   opacity: 0.9;
}

img {
   user-select: none;
}

/* ===>>> Common Styles Here <<<=== */

section {
   padding: 10rem 1.5rem;
   overflow: hidden;
}

.container {
   max-width: 150rem;
   margin: 0 auto;
}

.decoration {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.displayText,
.sectionHeading {
   font-size: 6rem;
   text-transform: capitalize;
}

.displayText span,
.sectionHeading span {
   font-size: inherit;
   line-height: inherit;
   font-weight: inherit;
   text-transform: inherit;
   color: #00d2ff;
}

.sectionHeading {
   font-size: 5rem;
}

.sectionTitle {
   font-size: 2.5rem;
}

/* ===>>> Home & Dream Section Styles Here <<<=== */

#home .container,
#dream .container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   gap: 5rem;
}

#home .textArea,
#dream .textArea {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 3rem;
   max-width: 72.5rem;
}

#home .imageArea img,
#dream .imageArea img {
   max-width: 62.5rem;
   min-width: 90%;
   height: auto;
   object-fit: cover;
}

/* ===>>> Home Section Styles Here <<<=== */

#home .decoration img {
   width: 100%;
   height: auto;
}

/* ===>>> Dream Section Styles Here <<<=== */

#dream {
   padding: 5rem 1.5rem 10rem;
}

#dream .decoration {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

#dream .decoration img {
   width: 10rem;
   height: auto;
}

/* ===>>> Experience Section Styles Here <<<=== */

#experience .container {
   display: flex;
   flex-direction: column;
   gap: 8rem;
}

#experience .sectionHeading {
   text-align: center;
}

#experience .cards {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 8rem;
}

#experience .card {
   padding: 3rem;
   border-radius: 2rem;
   box-shadow: 0 0.75rem 2rem rgba(58, 123, 213, 0.15);
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

#experience .card:nth-child(1) {
   border-left: 0.6rem solid #00d2ff;
}

#experience .card:nth-child(2) {
   border-left: 0.6rem solid #3a7bd5;
}

#experience .card .cardHeading {
   font-size: 4rem;
}

#experience .card .cardTitle {
   font-size: 2.5rem;
   color: #00d2ff;
}

/* ===>>> Footer Section Styles Here <<<=== */

#footer {
   background-color: #3a7bd5;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
}

#footer p,
#footer a {
   color: white;
   text-transform: capitalize;
}

#footer a {
   padding: 0.3rem 0.6rem 0.4rem;
   background-color: rgba(0, 210, 255, 0.2);
   border-radius: 0.5rem;
}

#footer a:hover {
   background-color: rgba(0, 210, 255, 1);
   color: black;
}
